.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 200px !important;
	background: pink;
	border: 1px solid #888;
}


body {
	background: $c2;
	color: white;
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html {
	width: 100;
	height: 100%;
}

::selection {
  background: rgba($c1, .6); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba($c1, .6); /* Gecko Browsers */
}

main {
	display: flex;
	float: left;
	width: 100%;
	height: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2.title {
	font-size: 36px;
	font-weight: normal;
	color: white;
	margin: 0;
	margin-bottom: 40px;

	&:after {
		content: '';
		display: block;
		width: 30px;
		height: 1px;
		background: $c1;
		margin-top: 10px;
	}
}