section.filmes {
	outline: 1px solid red;
	flex:1;
	display: flex;

	.categories-list {
		flex:1;
		width: 30%;
		max-width: 480px;
		overflow: auto;
		padding-left: 30px;
		padding-top: 0px;

		@media all and (max-width: 1500px) {
			max-width: 350px;
		}


		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}

		.list {
			float: left;
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;

			li {
				float: left;
				width: 100%;
				border-bottom: 1px solid rgba(255,255,255,.1);
				list-style: none;
				margin: 0;
				padding: 0;

				a {
					float: left;
					width: 100%;
					font-size: 23px;
					padding: 15px 0px;
					text-decoration: none;
					color: $c4;

					&:hover {
						color: white;
					}
				}
			}
		}
	}

	.listing {
		background: #0E0F12;
		flex:1;
		padding-left: 42px;
		// padding-top: 22px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}

		.back {
			position: relative;
			top: 20px;
			left: 20px;
			color: white;
			display: flex;
			align-items: center;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			z-index: 2;
			padding-bottom: 30px;

			h2{
				font-size: 1.4em;
			}

			&:hover {
				opacity: .3;
			}

			i {
				vertical-align: middle;
				margin-right: 20px;
			}
		}


		.grid-list {
			float: left;
			width: 100%;
			padding-right: 42px;

			@supports (display: grid) {
				display:grid;
				grid-template-columns: repeat(5, 1fr);
				grid-column-gap: 30px;
				grid-row-gap: 60px;

				@media all and (max-width: 1900px) {
					grid-template-columns: repeat(4, 1fr);
				}

				@media all and (max-width: 1700px) {
					grid-template-columns: repeat(5, 1fr);
				}

			}

			.movie-item {
				width: 100%;
				float: left;

				.cover {
					float: left;
					width: 100%;
					padding-bottom: 160%;
					background-size: cover !important;
					background-position: center;
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					-ms-border-radius: 7px;
					-o-border-radius: 7px;
					border-radius: 7px;
					margin-bottom: 10px;
				}

				.cover:hover {
					box-shadow: inset 0px 0px 0px 5px white;
        	box-sizing: border-box;
				}

				.info {
					float: left;
					width: 100%;
					margin-top: 15px;

					h3 {
						color: white;
						margin: 0;
						font-size: 20px;
						text-align: center;
					}

					.info-inset {
						float: left;
						width: 100%;
						display: flex;
						margin-top: 10px;

						span {
							color: $c4;
							margin-right: 10px;
							border-right: 1px solid rgba($c4, .3);
							padding-right: 10px;

							&:last-child {
								margin-right: 0px;
								padding-right: 0px;
								border-right: 0px;
							}
						}
					}
				}
			}
		}
	}


}
