section.home {
	padding: 42px;
	padding-right: 0px;
	flex:1;

	
	.current-tv {
		float: left;
		width: 100%;
		margin-bottom: 40px;

		.swiper-slide {
			max-width: 550px;
		}
		
		.tv-item {
			width: 100%;
			float: left;
			color: white;
			position: relative;

			.info {
				position: absolute;
				bottom: 20px;
				left: 20px;
				z-index: 5;

				h4 {
					margin: 0;
					padding: 0;
					font-size: 32px;
				}

				.live {
					background: $c1;
					padding: 5px;
					text-transform: uppercase;
					font-size: 13px;
					font-weight: bold;
					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					-ms-border-radius: 20px;
					-o-border-radius: 20px;
					border-radius: 20px;

					&:before {
						content: '';
						display: inline-block;
						width: 4px;
						height: 4px;
						background: white;
						vertical-align: middle;
						margin-right: 5px;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						-ms-border-radius: 4px;
						-o-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}

			.play {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 10;
				text-decoration: none;
				color: white;

				span {
					width: 60px;
					height: 60px;
					border: 2px solid white;
					display: flex;
					align-items: center;
					justify-content: center;
					-webkit-border-radius: 60px;
					-moz-border-radius: 60px;
					-ms-border-radius: 60px;
					-o-border-radius: 60px;
					border-radius: 60px;
					cursor: pointer;
					font-size: 30px;
					-webkit-transition:all 150ms ease-in;  
					-moz-transition:all 150ms ease-in;  
					-o-transition:all 150ms ease-in;  
					transition:all 150ms ease-in;  
					

					&:hover {
						background: white;
						color: $c2;
					}

					i {
						margin-left: 4px;
					}
				}
			}

			.current-screen {
				float: left;
				width: 100%;
				padding-bottom: 56.25%;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				border-radius: 3px;
				background-size: cover !important;
				opacity: .5;
			}
		}

	}

	.movies-slider {
		float: left;
		width: 100%;

		.swiper-slide {
			max-width: 210px;
		}

		.movie-item {
			width: 100%;

			float: left;

			.cover {
				float: left;
				width: 95%;
				padding-bottom: 155%;
				background-size: cover !important;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				-ms-border-radius: 7px;
				-o-border-radius: 7px;
				border-radius: 7px;
				margin-bottom: 10px;
			}

			.info {
				float: left;
				width: 100%;
				margin-top: 15px;

				h2 {
					color: white;
					margin: 0;
					font-size: 23px;
				}

				.info-inset {
					float: left;
					width: 100%;
					display: flex;
					margin-top: 10px;

					span {
						color: $c4;
						margin-right: 10px;
						border-right: 1px solid rgba($c4, .3);
						padding-right: 10px;

						&:last-child {
							margin-right: 0px;
							padding-right: 0px;
							border-right: 0px;
						}
					}
				}
			}
		}
	}
}
