.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;

	form {
		position: relative;
		z-index: 1;
		border: solid 1px white;
		max-width: 360px;
		margin: 0 auto 100px;
		padding: 45px;
		text-align: center;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

		.logo {
			float: left;
			width: 100%;
			height: 92px;
			display: flex;
			align-items: center;
			padding-left: 42px;
			border-bottom: 1px solid rgba(255,255,255,.05);
			background: url(assets/images/logo2.png) center center no-repeat;
		}

		button {
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			outline: 0;
			background: #ff295a;
			width: 100%;
			border: 0;
			padding: 15px;
			color: #FFFFFF;
			font-size: 14px;
			cursor: pointer;
		}

		input {
			font-family: "Roboto", sans-serif;
			outline: 0;
			background: #f2f2f2;
			width: 100%;
			border: 0;
			margin: 0 0 15px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 14px;
		}

	}





}
