section.main-view {
	flex:1;
	display: flex;
	flex-direction: column;

	header {
		height: 80px;
		border-bottom: 1px solid rgba(255,255,255,.05);
		display: flex;
		width: 100%;
		padding-left: 42px;

		.search {
			flex:1;
			display: flex;
			align-items: center;

			i {
				font-size: 24px;
				vertical-align: middle;
				margin-right: 10px;
				display: inline-block;
				margin-top: 0px;
			}

			input {
				border: 0px;
				background: none;
				flex:1;
				color: white;
				outline: none;
				padding: 10px 0px;
				font-size: 22px;
			}
		}

		.current-time {
			border-left: 1px solid rgba(255,255,255,.05);
			border-right: 1px solid rgba(255,255,255,.05);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px 15px;

			span {
				font-size: 38px;
				font-weight: 100;
				color: $c4;

				em {
					font-style: normal;
					font-size: 14px;
					margin-left: 5px;
				}
			}
		}

		.user-data {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0px 15px;

			a.logout {
				background: $c3;
				padding: 5px 10px;
				margin-left: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				border-radius: 10px;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 13px;

				&:hover {
					background: $c1;
				}
			}

			h3 {
				margin: 0;
				font-size: 22px;
				font-weight: normal;
			}
			.exp-date {
				font-size: 14px;
				color: $c4;
			}
		}
	}

	.inset-view {
		flex:1;
		overflow: auto;
		display: flex;

		@import 'home';
		@import 'programacao';
		@import 'filmes';
		@import 'series';

	}
}
