.media-view {
	flex:1;
	position: relative;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: $c3;
	}

	&::-webkit-scrollbar-thumb {
		background: $c4;
	}

	.back {
		position: relative;
		top: 20px;
		left: 20px;
		color: white;
		display: flex;
		align-items: center;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		z-index: 2;

		&:hover {
			opacity: .3;
		}

		i {
			vertical-align: middle;
			margin-right: 20px;
		}
	}

	.cover {
		float: left;
		width: 100%;
		height: 300px;
		position: relative;



		.image {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-size: cover !important;
			opacity: .3;
		}
	}

	.media-inset {
		float: left;
		width: 100%;
		padding: 35px;
		position: relative;
		align-items: flex-start;

		@media all and (max-width: 1400px) {
			flex-direction: column;
			align-items: center;
		}




		.media-info {
			display: flex;
			flex-direction: column;

			h1 {
				font-size: 40px;
			}

			.media-additionals {
				display: flex;
				align-items: center;
				span {
					margin-right: 20px;
				}

				.year {
					font-size: 25px;
					font-weight: lighter;
				}
			}

			.description {
				float: left;
				width: 100%;
				margin-top: 20px;
				display: flex;
				flex-direction: column;

				p {
					font-size: 20px;
					line-height: 1.4;
				}

				.tags {
					float: left;
					width: 100%;
					display: flex;

					span {
						border: 1px solid rgba($c4, .2);
						padding: 15px;
						-webkit-border-radius: 30px;
						-moz-border-radius: 30px;
						-ms-border-radius: 30px;
						-o-border-radius: 30px;
						border-radius: 30px;
						margin-right: 14px;
					}
				}

				hr {
					border: 0px;
					border-top: 1px solid $c3;
					margin: 20px 0px;
				}

				.specs {
					float: left;
					width: 100%;
					margin-top: 20px;

					.double {
						display: flex;
						float: left;
						width: 100%;
					}

					.box {
						float: left;
						width: 100%;
						display: flex;
						flex-direction: column;
						margin-bottom: 40px;

						strong {
							text-transform: uppercase;
							margin-bottom: 10px;
						}

						p {
							margin: 0;
						}
					}
				}
			}
		}

		.cover-wrapper {
			width: 20%;
			max-width: 410px;
			background: $c3;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			border-radius: 10px;
			margin-right: 40px;
			position: relative;
			margin-top: -200px;

			@media all and (max-width: 1400px) {
				width: 100%;
				margin-bottom: 30px;
			}


			.play-wrapper {
				float: left;
				width: 100%;
				align-items: center;
				display: flex;
				justify-content: center;
				padding: 30px;

				a {
					/* Rectangle 9: */
					background-image: linear-gradient(-180deg, #FF4B4B 0%, #EC3636 100%);
					border-radius: 9.6px;
					padding: 20px 45px;
					font-weight: bold;
					font-size: 40px;
					color: white;
					text-decoration: none;
					-webkit-transition:all 150ms ease-in;
					-moz-transition:all 150ms ease-in;
					-o-transition:all 150ms ease-in;
					transition:all 150ms ease-in;
					display: flex;

					@media all and (max-width: 1700px) {
						font-size: 30px;
						padding: 20px 20px;
					}



					&:hover {
						/* Rectangle 9: */
						background-image: linear-gradient(0deg, #FF4B4B 0%, #EC3636 100%);
						border-radius: 9.6px;
						transform: scale(1.1);
					}

					img {
						vertical-align: middle;
						margin-left: 10px;
					}
				}
			}

			.cover {
				float: left;
				width: 100%;
				margin-right: 20px;
				padding-bottom: 142%;
				height: 350px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				border-radius: 10px;
				background-size: cover !important;
			}
		}
	}
}
