section.programacao {
	outline: 1px solid red;
	flex:1;
	display: flex;

	.categories-list {
		flex:1;
		width: 30%;
		max-width: 480px;
		overflow: auto;
		padding-left: 30px;
		padding-top: 0px;

		@media all and (max-width: 1500px) {
			max-width: 350px;
		}


		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}

		.list {
			float: left;
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;

			li {
				float: left;
				width: 100%;
				border-bottom: 1px solid rgba(255,255,255,.1);
				list-style: none;
				margin: 0;
				padding: 0;

				a {
					float: left;
					width: 100%;
					font-size: 23px;
					padding: 15px 0px;
					text-decoration: none;
					color: $c4;

					&:hover {
						color: white;
					}
				}
			}
		}
	}

	.networks-list {
		flex:1;
		width: 100%;
		max-width: 680px;
		overflow: auto;
		padding-left: 42px;
		padding-top: 22px;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}

		.list {
			float: left;
			width: 100%;
			display: flex;
			flex-direction: column;

			.item {
				display: flex;
				border-bottom: 1px solid rgba($c4, .2);
				align-items: center;
				text-decoration: none;
				color: white;

				h3 {
					font-size: 22px;
					font-weight: normal;
					color: $c4;
					margin-right: 10px;
					width: 40px;
				}

				.current, .current-show {
					flex-grow:1;
					display: flex;
					flex-direction: column;
					align-items: center;

					strong {
						font-size: 20px;
						margin-bottom: 5px;
					}

					span {
						color: $c4;
						font-size: 19px;
					}
				}

				.current {
					max-width: 100px;

					strong {
						font-size: 16px;
					}
				}

				.logo {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 10px;

					img {
						max-width: 100%;
						height: auto;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.listing {
		background: #0E0F12;
		flex:1;
		padding-top: 22px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}

		.back {
			margin: 10px 0 0 40px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			display: flex;
			align-items: center;

			&:hover {
				opacity: .3;
			}

			i {
				vertical-align: middle;
				margin-right: 20px;
			}
		}

		.list {
			float: left;
			width: 100%;
			display: flex;
			flex-direction: column;

			.item {
				float: left;
				display: flex;
				margin-bottom: 20px;
				padding-left: 40px;
				position: relative;
				padding-right: 20px;

				a{
					text-decoration: none;
				}


				.onair {
					position: absolute;
					width: 10px;
					height: 10px;
					background: #1ED761;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					-ms-border-radius: 10px;
					-o-border-radius: 10px;
					border-radius: 10px;
					left: 15px;
					top: 30px;
					display: none;
				}

				.time {
					font-size: 20px;
					padding-top: 3px;
					color: $c4;
					margin-right: 20px;
				}

				h3 {
					font-size: 24px;
					color: $c4;
					font-weight: normal;
					margin: 0;
					padding: 0;
					margin-bottom: 15px;
				}

				p {
					color: white;
					line-height: 1.4;
					opacity: .4;
				}

				&.active {
					background: rgba(255,255,255,.04);
					padding-top: 20px;
					border-top: 1px solid $c4;
					h3 {
						color: white;
						font-size: 26px;
					}

					p {
						display: block;
						opacity: 1;
					}

					.onair {
						display: block;
					}
				}
			}
		}
	}
}
