section.series {
	outline: 1px solid red;
	flex:1;
	display: flex;

	.categories-list {
		flex:1;
		width: 100%;
		max-width: 480px;
		overflow: auto;
		padding: 0 30px;

		.back {
			position: relative;
			top: 22px;
			left: 20px;
			color: white;
			display: flex;
			align-items: center;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			z-index: 2;
			margin-bottom: 20px;

			h2{
				font-size: 1.4em;
			}

			&:hover {
				opacity: .3;
			}

			i {
				vertical-align: middle;
				margin-right: 20px;
			}
		}

		h2{
			display: inline-block;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			color: white;
			background-color: $c3;;
			border: 1px solid $c3;
			margin-left: 10px;
			padding: 10px;

		}
		select:hover {
			border: none;
		}
		select:active{
			border: none;
		}
		select:focus {
			border: 1px solid $c3;;
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
			outline: none;
		}
		select::-ms-expand {
			display:none;
		}

		.cover-wrapper{
			width: 60%;
			margin: 0 auto;
		}

		.cover {
			padding-bottom: 150%;
			background-size: cover !important;
			background-position: center;
		}

		@media all and (max-width: 1500px) {
			max-width: 500px;
		}

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}

		.list {
			float: left;
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;

			li {
				float: left;
				width: 100%;
				border-bottom: 1px solid rgba(255,255,255,.1);
				list-style: none;
				margin: 0;
				padding: 0;

				a {
					float: left;
					width: 100%;
					font-size: 23px;
					padding: 15px 0px;
					text-decoration: none;
					color: $c4;

					&:hover {
						color: white;
					}
				}
			}
		}
	}

	.listing {
		background: #0E0F12;
		flex:1;
		padding-left: 42px;
		padding-top: 22px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: $c3;
		}

		&::-webkit-scrollbar-thumb {
			background: $c4;
		}

		h2 {
			font-size: 40px;
		}


		.grid-list {
			float: left;
			width: 100%;
			padding-right: 42px;

			@supports (display: grid) {
				display:grid;
				grid-template-columns: repeat(5, 1fr);
				grid-column-gap: 30px;
				grid-row-gap: 60px;

				@media all and (max-width: 1900px) {
					grid-template-columns: repeat(4, 1fr);
				}

				@media all and (max-width: 1700px) {
					grid-template-columns: repeat(4, 1fr);
				}

			}

			.movie-item {
				width: 100%;
				float: left;

				.info {
					float: left;
					width: 100%;
					margin-top: 15px;

					h3 {
						color: white;
						margin: 0;
						font-size: 23px;
					}

					.info-inset {
						float: left;
						width: 100%;
						display: flex;
						margin-top: 10px;

						span {
							color: $c4;
							margin-right: 10px;
							border-right: 1px solid rgba($c4, .3);
							padding-right: 10px;

							&:last-child {
								margin-right: 0px;
								padding-right: 0px;
								border-right: 0px;
							}
						}
					}
				}
			}
		}
	}


}
