.settings {
	width: 360px;

	form {
		max-width: 360px;
		padding: 0 45px;
		text-align: center;


		input {
			font-family: "Roboto", sans-serif;
			outline: 0;
			background: #f2f2f2;
			width: 100%;
			border: 0;
			margin: 0 0 15px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 14px;
		}

	}





}
