aside {
	background: $c3;
	width: 310px;
	display: flex;
	flex-direction: column;

	&.collapsed {
		width: 80px;

		.logo {
			padding-left: 10px;
			span {
				background: url(assets/images/logo2-min.png) center center no-repeat;
				width: 100%;
			}
		}

		nav {
			padding-left: 10px;
			a {
				padding-left: 0px;
				span {
					display: none;
				}
				i {
					width: 100%;
				}
			}
		}
	}

	.logo {
		float: left;
		width: 100%;
		height: 80px;
		display: flex;
		align-items: center;
		padding-left: 42px;
		border-bottom: 1px solid rgba(255,255,255,.05);

		span {
			width: 175px;
			height: 45px;
			background: url(assets/images/logo2.png) center center no-repeat;
			float: left;
		}
	}

	nav {
		float: left;
		width: 100%;
		padding-left: 32px;
		flex-direction: column;
		display: flex;
		font-size: 25px;

		a {
			border-bottom: 1px solid rgba(255,255,255,.05);
			padding: 25px 0px;
			text-decoration: none;
			color: white;
			padding-left: 10px;

			&:hover {
				background: $c2;
			}

			&.active {
				border-right: 5px solid #ff295a;
			}

			i {
				color: $c4;
				vertical-align: middle;
				margin-right: 15px;
				display: inline-block;
				width: 32px;
				text-align: center;
			}
		}
	}
}
