@import url(fonts/stylesheet.css);
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  background: #141519;
  color: white;
  font-family: "Sofia Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  width: 100;
  height: 100%; }

::selection {
  background: rgba(255, 75, 75, 0.6);
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: rgba(255, 75, 75, 0.6);
  /* Gecko Browsers */ }

main {
  display: flex;
  float: left;
  width: 100%;
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h2.title {
  font-size: 36px;
  font-weight: normal;
  color: white;
  margin: 0;
  margin-bottom: 40px; }
  h2.title:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: #FF4B4B;
    margin-top: 10px; }

aside {
  background: #1A1C21;
  width: 310px;
  display: flex;
  flex-direction: column; }
  aside.collapsed {
    width: 80px; }
    aside.collapsed .logo {
      padding-left: 10px; }
      aside.collapsed .logo span {
        background: url(assets/images/logo2-min.png) center center no-repeat;
        width: 100%; }
    aside.collapsed nav {
      padding-left: 10px; }
      aside.collapsed nav a {
        padding-left: 0px; }
        aside.collapsed nav a span {
          display: none; }
        aside.collapsed nav a i {
          width: 100%; }
  aside .logo {
    float: left;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    padding-left: 42px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    aside .logo span {
      width: 175px;
      height: 45px;
      background: url(assets/images/logo.svg) center center no-repeat;
      float: left; }
  aside nav {
    float: left;
    width: 100%;
    padding-left: 32px;
    flex-direction: column;
    display: flex;
    font-size: 25px; }
    aside nav a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      padding: 25px 0px;
      text-decoration: none;
      color: white;
      padding-left: 10px; }
      aside nav a:hover {
        background: #141519; }
      aside nav a i {
        color: #5A5E69;
        vertical-align: middle;
        margin-right: 15px;
        display: inline-block;
        width: 32px;
        text-align: center; }

section.main-view {
  flex: 1;
  display: flex;
  flex-direction: column; }
  section.main-view header {
    height: 92px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    width: 100%;
    padding-left: 42px; }
    section.main-view header .search {
      flex: 1;
      display: flex;
      align-items: center; }
      section.main-view header .search i {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
        display: inline-block;
        margin-top: 0px; }
      section.main-view header .search input {
        border: 0px;
        background: none;
        flex: 1;
        color: white;
        outline: none;
        padding: 10px 0px;
        font-size: 22px; }
    section.main-view header .current-time {
      border-left: 1px solid rgba(255, 255, 255, 0.05);
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 15px; }
      section.main-view header .current-time span {
        font-size: 38px;
        font-weight: 100;
        color: #5A5E69; }
        section.main-view header .current-time span em {
          font-style: normal;
          font-size: 14px;
          margin-left: 5px; }
    section.main-view header .user-data {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 15px; }
      section.main-view header .user-data a.logout {
        background: #1A1C21;
        padding: 5px 10px;
        margin-left: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px; }
        section.main-view header .user-data a.logout:hover {
          background: #FF4B4B; }
      section.main-view header .user-data h3 {
        margin: 0;
        font-size: 22px;
        font-weight: normal; }
      section.main-view header .user-data .exp-date {
        font-size: 14px;
        color: #5A5E69; }
  section.main-view .inset-view {
    flex: 1;
    overflow: auto;
    display: flex; }
    section.main-view .inset-view section.home {
      padding: 42px;
      padding-right: 0px;
      flex: 1; }
      section.main-view .inset-view section.home .current-tv {
        float: left;
        width: 100%;
        margin-bottom: 40px; }
        section.main-view .inset-view section.home .current-tv .swiper-slide {
          max-width: 550px; }
        section.main-view .inset-view section.home .current-tv .tv-item {
          width: 100%;
          float: left;
          position: relative; }
          section.main-view .inset-view section.home .current-tv .tv-item .info {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 5; }
            section.main-view .inset-view section.home .current-tv .tv-item .info h4 {
              margin: 0;
              padding: 0;
              font-size: 32px; }
            section.main-view .inset-view section.home .current-tv .tv-item .info .live {
              background: #FF4B4B;
              padding: 5px;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: bold;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              -ms-border-radius: 20px;
              -o-border-radius: 20px;
              border-radius: 20px; }
              section.main-view .inset-view section.home .current-tv .tv-item .info .live:before {
                content: '';
                display: inline-block;
                width: 4px;
                height: 4px;
                background: white;
                vertical-align: middle;
                margin-right: 5px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px; }
          section.main-view .inset-view section.home .current-tv .tv-item .play {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10; }
            section.main-view .inset-view section.home .current-tv .tv-item .play span {
              width: 60px;
              height: 60px;
              border: 2px solid white;
              display: flex;
              align-items: center;
              justify-content: center;
              -webkit-border-radius: 60px;
              -moz-border-radius: 60px;
              -ms-border-radius: 60px;
              -o-border-radius: 60px;
              border-radius: 60px;
              cursor: pointer;
              font-size: 30px;
              -webkit-transition: all 150ms ease-in;
              -moz-transition: all 150ms ease-in;
              -o-transition: all 150ms ease-in;
              transition: all 150ms ease-in; }
              section.main-view .inset-view section.home .current-tv .tv-item .play span:hover {
                background: white;
                color: #141519; }
              section.main-view .inset-view section.home .current-tv .tv-item .play span i {
                margin-left: 4px; }
          section.main-view .inset-view section.home .current-tv .tv-item .current-screen {
            float: left;
            width: 100%;
            padding-bottom: 56.25%;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            background-size: cover !important;
            opacity: .5; }
      section.main-view .inset-view section.home .movies-slider {
        float: left;
        width: 100%; }
        section.main-view .inset-view section.home .movies-slider .swiper-slide {
          max-width: 210px; }
        section.main-view .inset-view section.home .movies-slider .movie-item {
          width: 100%;
          float: left; }
          section.main-view .inset-view section.home .movies-slider .movie-item .cover {
            float: left;
            width: 100%;
            padding-bottom: 160%;
            background-size: cover !important;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            border-radius: 7px;
            margin-bottom: 10px; }
          section.main-view .inset-view section.home .movies-slider .movie-item .info {
            float: left;
            width: 100%;
            margin-top: 15px; }
            section.main-view .inset-view section.home .movies-slider .movie-item .info h2 {
              color: white;
              margin: 0;
              font-size: 23px; }
            section.main-view .inset-view section.home .movies-slider .movie-item .info .info-inset {
              float: left;
              width: 100%;
              display: flex;
              margin-top: 10px; }
              section.main-view .inset-view section.home .movies-slider .movie-item .info .info-inset span {
                color: #5A5E69;
                margin-right: 10px;
                border-right: 1px solid rgba(90, 94, 105, 0.3);
                padding-right: 10px; }
                section.main-view .inset-view section.home .movies-slider .movie-item .info .info-inset span:last-child {
                  margin-right: 0px;
                  padding-right: 0px;
                  border-right: 0px; }
    section.main-view .inset-view section.programacao {
      outline: 1px solid red;
      flex: 1;
      display: flex; }
      section.main-view .inset-view section.programacao .networks-list {
        flex: 1;
        width: 100%;
        max-width: 680px;
        overflow: auto;
        padding-left: 42px;
        padding-top: 22px; }
        section.main-view .inset-view section.programacao .networks-list::-webkit-scrollbar {
          width: 4px; }
        section.main-view .inset-view section.programacao .networks-list::-webkit-scrollbar-track {
          background: #1A1C21; }
        section.main-view .inset-view section.programacao .networks-list::-webkit-scrollbar-thumb {
          background: #5A5E69; }
        section.main-view .inset-view section.programacao .networks-list h2 {
          font-size: 40px; }
        section.main-view .inset-view section.programacao .networks-list .list {
          float: left;
          width: 100%;
          display: flex;
          flex-direction: column; }
          section.main-view .inset-view section.programacao .networks-list .list .item {
            display: flex;
            border-bottom: 1px solid rgba(90, 94, 105, 0.2);
            align-items: center; }
            section.main-view .inset-view section.programacao .networks-list .list .item h3 {
              font-size: 22px;
              font-weight: normal;
              color: #5A5E69;
              margin-right: 10px;
              width: 40px; }
            section.main-view .inset-view section.programacao .networks-list .list .item .current, section.main-view .inset-view section.programacao .networks-list .list .item .current-show {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              align-items: center; }
              section.main-view .inset-view section.programacao .networks-list .list .item .current strong, section.main-view .inset-view section.programacao .networks-list .list .item .current-show strong {
                font-size: 20px;
                margin-bottom: 5px; }
              section.main-view .inset-view section.programacao .networks-list .list .item .current span, section.main-view .inset-view section.programacao .networks-list .list .item .current-show span {
                color: #5A5E69;
                font-size: 19px; }
            section.main-view .inset-view section.programacao .networks-list .list .item .current {
              max-width: 100px; }
              section.main-view .inset-view section.programacao .networks-list .list .item .current strong {
                font-size: 16px; }
            section.main-view .inset-view section.programacao .networks-list .list .item .logo {
              height: 60px;
              width: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px; }
              section.main-view .inset-view section.programacao .networks-list .list .item .logo img {
                max-width: 100%;
                height: auto;
                vertical-align: middle; }
      section.main-view .inset-view section.programacao .listing {
        background: #0E0F12;
        flex: 1;
        padding-left: 42px;
        padding-top: 22px;
        overflow: auto; }
        section.main-view .inset-view section.programacao .listing::-webkit-scrollbar {
          width: 4px; }
        section.main-view .inset-view section.programacao .listing::-webkit-scrollbar-track {
          background: #1A1C21; }
        section.main-view .inset-view section.programacao .listing::-webkit-scrollbar-thumb {
          background: #5A5E69; }
        section.main-view .inset-view section.programacao .listing h2 {
          font-size: 40px; }
        section.main-view .inset-view section.programacao .listing .list {
          float: left;
          width: 100%;
          display: flex;
          flex-direction: column; }
          section.main-view .inset-view section.programacao .listing .list .item {
            float: left;
            display: flex;
            margin-bottom: 20px;
            padding-left: 40px;
            position: relative;
            padding-right: 20px; }
            section.main-view .inset-view section.programacao .listing .list .item .onair {
              position: absolute;
              width: 10px;
              height: 10px;
              background: #1ED761;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              border-radius: 10px;
              left: 15px;
              top: 30px;
              display: none; }
            section.main-view .inset-view section.programacao .listing .list .item .time {
              font-size: 20px;
              padding-top: 3px;
              color: #5A5E69;
              margin-right: 20px; }
            section.main-view .inset-view section.programacao .listing .list .item h3 {
              font-size: 24px;
              color: #5A5E69;
              font-weight: normal;
              margin: 0;
              padding: 0;
              margin-bottom: 15px; }
            section.main-view .inset-view section.programacao .listing .list .item p {
              color: white;
              line-height: 1.4;
              opacity: .4; }
            section.main-view .inset-view section.programacao .listing .list .item.active {
              background: rgba(255, 255, 255, 0.04);
              padding-top: 20px;
              border-top: 1px solid #5A5E69; }
              section.main-view .inset-view section.programacao .listing .list .item.active h3 {
                color: white;
                font-size: 26px; }
              section.main-view .inset-view section.programacao .listing .list .item.active p {
                display: block;
                opacity: 1; }
              section.main-view .inset-view section.programacao .listing .list .item.active .onair {
                display: block; }
    section.main-view .inset-view section.filmes {
      outline: 1px solid red;
      flex: 1;
      display: flex; }
      section.main-view .inset-view section.filmes .categories-list {
        flex: 1;
        width: 30%;
        max-width: 480px;
        overflow: auto;
        padding-left: 42px;
        padding-top: 22px; }
        @media all and (max-width: 1500px) {
          section.main-view .inset-view section.filmes .categories-list {
            max-width: 350px; } }
        section.main-view .inset-view section.filmes .categories-list::-webkit-scrollbar {
          width: 4px; }
        section.main-view .inset-view section.filmes .categories-list::-webkit-scrollbar-track {
          background: #1A1C21; }
        section.main-view .inset-view section.filmes .categories-list::-webkit-scrollbar-thumb {
          background: #5A5E69; }
        section.main-view .inset-view section.filmes .categories-list h2 {
          font-size: 40px; }
        section.main-view .inset-view section.filmes .categories-list .list {
          float: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0; }
          section.main-view .inset-view section.filmes .categories-list .list li {
            float: left;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            list-style: none;
            margin: 0;
            padding: 0; }
            section.main-view .inset-view section.filmes .categories-list .list li a {
              float: left;
              width: 100%;
              font-size: 23px;
              padding: 15px 0px;
              text-decoration: none;
              color: #5A5E69; }
              section.main-view .inset-view section.filmes .categories-list .list li a:hover {
                color: white; }
      section.main-view .inset-view section.filmes .listing {
        background: #0E0F12;
        flex: 1;
        padding-left: 42px;
        padding-top: 22px;
        overflow: auto; }
        section.main-view .inset-view section.filmes .listing::-webkit-scrollbar {
          width: 4px; }
        section.main-view .inset-view section.filmes .listing::-webkit-scrollbar-track {
          background: #1A1C21; }
        section.main-view .inset-view section.filmes .listing::-webkit-scrollbar-thumb {
          background: #5A5E69; }
        section.main-view .inset-view section.filmes .listing h2 {
          font-size: 40px; }
        section.main-view .inset-view section.filmes .listing .grid-list {
          float: left;
          width: 100%;
          padding-right: 42px; }
          @supports (display: grid) {
            section.main-view .inset-view section.filmes .listing .grid-list {
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              grid-column-gap: 30px;
              grid-row-gap: 60px; }
              @media all and (max-width: 1900px) {
                section.main-view .inset-view section.filmes .listing .grid-list {
                  grid-template-columns: repeat(4, 1fr); } }
              @media all and (max-width: 1700px) {
                section.main-view .inset-view section.filmes .listing .grid-list {
                  grid-template-columns: repeat(4, 1fr); } } }
          section.main-view .inset-view section.filmes .listing .grid-list .movie-item {
            width: 100%;
            float: left; }
            section.main-view .inset-view section.filmes .listing .grid-list .movie-item .cover {
              float: left;
              width: 100%;
              padding-bottom: 160%;
              background-size: cover !important;
              -webkit-border-radius: 7px;
              -moz-border-radius: 7px;
              -ms-border-radius: 7px;
              -o-border-radius: 7px;
              border-radius: 7px;
              margin-bottom: 10px; }
            section.main-view .inset-view section.filmes .listing .grid-list .movie-item .info {
              float: left;
              width: 100%;
              margin-top: 15px; }
              section.main-view .inset-view section.filmes .listing .grid-list .movie-item .info h3 {
                color: white;
                margin: 0;
                font-size: 23px; }
              section.main-view .inset-view section.filmes .listing .grid-list .movie-item .info .info-inset {
                float: left;
                width: 100%;
                display: flex;
                margin-top: 10px; }
                section.main-view .inset-view section.filmes .listing .grid-list .movie-item .info .info-inset span {
                  color: #5A5E69;
                  margin-right: 10px;
                  border-right: 1px solid rgba(90, 94, 105, 0.3);
                  padding-right: 10px; }
                  section.main-view .inset-view section.filmes .listing .grid-list .movie-item .info .info-inset span:last-child {
                    margin-right: 0px;
                    padding-right: 0px;
                    border-right: 0px; }

.media-view {
  flex: 1;
  position: relative;
  overflow: auto; }
  .media-view::-webkit-scrollbar {
    width: 4px; }
  .media-view::-webkit-scrollbar-track {
    background: #1A1C21; }
  .media-view::-webkit-scrollbar-thumb {
    background: #5A5E69; }
  .media-view .cover {
    float: left;
    width: 100%;
    height: 412px;
    position: relative; }
    .media-view .cover .back {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      display: flex;
      align-items: center;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      z-index: 2; }
      .media-view .cover .back:hover {
        opacity: .3; }
      .media-view .cover .back i {
        vertical-align: middle;
        margin-right: 20px; }
    .media-view .cover .image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-size: cover !important;
      opacity: .3; }
  .media-view .media-inset {
    float: left;
    width: 100%;
    display: flex;
    padding: 40px;
    position: relative;
    align-items: flex-start; }
    @media all and (max-width: 1400px) {
      .media-view .media-inset {
        flex-direction: column;
        align-items: center; } }
    .media-view .media-inset .media-info {
      display: flex;
      flex-direction: column; }
      .media-view .media-inset .media-info h1 {
        font-size: 40px; }
      .media-view .media-inset .media-info .media-additionals {
        display: flex;
        align-items: center; }
        .media-view .media-inset .media-info .media-additionals span {
          margin-right: 20px; }
        .media-view .media-inset .media-info .media-additionals .year {
          font-size: 25px;
          font-weight: lighter; }
      .media-view .media-inset .media-info .description {
        float: left;
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column; }
        .media-view .media-inset .media-info .description p {
          font-size: 20px;
          line-height: 1.4; }
        .media-view .media-inset .media-info .description .tags {
          float: left;
          width: 100%;
          display: flex; }
          .media-view .media-inset .media-info .description .tags span {
            border: 1px solid rgba(90, 94, 105, 0.2);
            padding: 15px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            border-radius: 30px;
            margin-right: 14px; }
        .media-view .media-inset .media-info .description hr {
          border: 0px;
          border-top: 1px solid #1A1C21;
          margin: 20px 0px; }
        .media-view .media-inset .media-info .description .specs {
          float: left;
          width: 100%;
          margin-top: 20px; }
          .media-view .media-inset .media-info .description .specs .double {
            display: flex;
            float: left;
            width: 100%; }
          .media-view .media-inset .media-info .description .specs .box {
            float: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px; }
            .media-view .media-inset .media-info .description .specs .box strong {
              text-transform: uppercase;
              margin-bottom: 10px; }
            .media-view .media-inset .media-info .description .specs .box p {
              margin: 0; }
    .media-view .media-inset .cover-wrapper {
      width: 40%;
      max-width: 410px;
      background: #1A1C21;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      margin-right: 40px;
      position: relative;
      margin-top: -200px; }
      @media all and (max-width: 1400px) {
        .media-view .media-inset .cover-wrapper {
          width: 100%;
          margin-bottom: 30px; } }
      .media-view .media-inset .cover-wrapper .play-wrapper {
        float: left;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 30px; }
        .media-view .media-inset .cover-wrapper .play-wrapper a {
          /* Rectangle 9: */
          background-image: linear-gradient(-180deg, #FF4B4B 0%, #EC3636 100%);
          border-radius: 9.6px;
          padding: 20px 45px;
          font-weight: bold;
          font-size: 40px;
          color: white;
          text-decoration: none;
          -webkit-transition: all 150ms ease-in;
          -moz-transition: all 150ms ease-in;
          -o-transition: all 150ms ease-in;
          transition: all 150ms ease-in;
          display: flex; }
          @media all and (max-width: 1700px) {
            .media-view .media-inset .cover-wrapper .play-wrapper a {
              font-size: 30px;
              padding: 20px 20px; } }
          .media-view .media-inset .cover-wrapper .play-wrapper a:hover {
            /* Rectangle 9: */
            background-image: linear-gradient(0deg, #FF4B4B 0%, #EC3636 100%);
            border-radius: 9.6px;
            transform: scale(1.1); }
          .media-view .media-inset .cover-wrapper .play-wrapper a img {
            vertical-align: middle;
            margin-left: 10px; }
      .media-view .media-inset .cover-wrapper .cover {
        float: left;
        width: 100%;
        padding-bottom: 142%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        background-size: cover !important; }

/*# sourceMappingURL=base.css.map */
