@font-face {
    font-family: 'Sofia Pro';
    src: url('assets/fonts/SofiaPro-SemiBold.woff2') format('woff2'),
        url('assets/fonts/SofiaPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('assets/fonts/SofiaProRegular.woff2') format('woff2'),
        url('assets/fonts/SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('assets/fonts/SofiaPro-Bold.woff2') format('woff2'),
        url('assets/fonts/SofiaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('assets/fonts/SofiaPro-Light.woff2') format('woff2'),
        url('assets/fonts/SofiaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

