@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ryjfka');
  src:  url('fonts/icomoon.eot?ryjfka#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ryjfka') format('truetype'),
    url('fonts/icomoon.woff?ryjfka') format('woff'),
    url('fonts/icomoon.svg?ryjfka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-configuracoes:before {
  content: "\e901";
}
.icon-filmes:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-series:before {
  content: "\e905";
}
.icon-televisao:before {
  content: "\e906";
}
