<template>

    <section class="home">
        <h2 class="title">Últimos Canais Assistidos</h2>
        <div class="current-tv">
            <carousel :per-page="2">
                <slide v-for="item in recent" v-bind:key="item.stream_id">
                    <div class="tv-item">
                        <router-link :to="'/assistir/'+ item.type + '/' + item.stream_id + item.extension">
                            <div class="play"><span><i class="icon-play"></i></span></div>
                        </router-link>
                        <div class="info">
                            <h4>{{ item.name }}</h4>
                            <!--<span class="live">Vivo</span>-->
                        </div>
                        <div class="current-screen" :style="{'background-image': `url(${item.image}), url(${item.cover})`}"></div>
                    </div>
                </slide>
            </carousel>
        </div>


        <h2 class="title">Filmes em Destaque</h2>
        <div class="movies-slider">
            <carousel :per-page="5">
                <slide v-for="item in news.slice(0,10)">
                    <div class="movie-item">
                        <router-link :to="'/filme/' + item.stream_id + '.' + item.container_extension">
                            <div class="cover" :style="{'background-image': `url(${item.stream_icon}), url(${require('../assets/images/default-thumbnail.png')}) `}"></div>
                            <div class="info">
                                <h2>{{ item.name }}</h2>
                            </div>
                        </router-link>
                    </div>
                </slide>
            </carousel>
        </div>

    </section>

</template>

<script>
    import MovieService from '../services/MovieService'

    import { Carousel, Slide } from 'vue-carousel';

    export default {
        name: 'Home',
        components:{
            Carousel,
            Slide
        },
        computed: {
            recent: function() {
                if(!localStorage.getItem('recent')) return [];
                return JSON.parse(localStorage.getItem('recent')).reverse();
            }
        },
        async mounted() {
            this.moviesService = new MovieService();
            this.news = await this.moviesService.getMoviesByCategory(93); // News
        },
        data () {
            return {
                news: []
            }
        }
    }
</script>
