<template>
    <div class="login-page">
        <form>
            <div class="logo">
                <span></span>
            </div>

            <p v-if="errors.length">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>

            <input type="text" required v-model="username" :placeholder="this.errors.username || 'Usuário'"/>
            <input type="password" required v-model="password" :placeholder="this.errors.password || 'Senha'"/>
            <button v-on:click.prevent="login">Login</button>
        </form>
    </div>
</template>

<script>
    import UserService from '../services/UserService';

    const userService = new UserService();

    export default {
        name: 'Login',
        computed: {

        },
        data () {
            return {
                username: null,
                password: null,
                errors: {},
                user_service: userService
            }
        },
        methods: {
            login: async function () {
                this.errors = {};
                if (!this.username) {
                    this.errors.username = 'O usuário é obrigatório.';
                    return;
                }

                if (!this.password) {
                    this.errors.password = 'A senha é obrigatória.';
                    return;
                }
                await this.user_service.login(this.username, this.password);
                document.location = '/';
            }
        }

    }
</script>
