<template>
    <div class="media-inset">

        <div ref="playerWrapper" id="player-wrapper">
            <div id="player"></div>
        </div>

        <div class="media-info">

            <!--<div class="studio"><img src="assets/images/studio.png" alt=""></div>
            <h1>{{ media.name }}</h1>
            <div class="media-additionals">
                <span class="year">{{media.relasedata}}</span>
                <span class="rate">
                    <img src="images/star-fill.svg" alt="">
                    <img src="images/star-fill.svg" alt="">
                    <img src="images/star-fill.svg" alt="">
                    <img src="images/star-fill.svg" alt="">
                    <img src="images/star.svg" alt="">
                </span>
                <span class="pg"><img src="assets/images/pg.png" alt=""></span>
            </div>
            -->

            <div class="description">
                <p>{{ media.plot }}</p>

                <!--<div class="tags">
                    <span>Full HD</span>
                    <span>Dolby 7.1</span>
                </div>
                -->

                <hr>

                <div class="specs">
                    <div class="box">
                        <strong>Lançamento</strong>
                        <p>{{ media.releasedate }}</p>
                    </div>
                    <div class="box">
                        <strong>Avaliação</strong>
                        <p>{{ Math.ceil(media.rating * 100) / 100 }}</p>
                    </div>
                    <div class="box">
                        <strong>Diretor</strong>
                        <p>{{ media.director }}</p>
                    </div>
                    <div class="box">
                        <strong>Elenco</strong>
                        <p>{{ media.cast }}</p>
                    </div>


                    <!--<div class="double">
                        <div class="box">
                            <strong>Legendas</strong>
                            <p>Portugues, Ingles, Espanhol</p>
                        </div>
                        <div class="box">
                            <strong>Audio</strong>
                            <p>Portugues, Ingles, Espanhol</p>
                        </div>
                    </div>
                    -->

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Media from '../services/Media'
    import PlayerService from '../services/PlayerService'
    import Clappr from 'clappr/dist/clappr.plainhtml5'
    import ClapprPip from 'clappr-pip'

    const playerService = new PlayerService();

    export default {
        name: 'Media',
        props: ['media'],
        data() {
            return {
                player_service: playerService,
                player_height: 0,
                player_width: 0
            }
        },
        computed:{

        },
        mounted() {
            this.mediaService = new Media();
            this.loadPlayer();
            this.pushToHistory();
        },
        methods: {
            pushToHistory: function () {
                this.mediaService.pushToHistory(this.media)
            },
            loadPlayer: function(){

                this.player_width = this.$refs.playerWrapper.clientWidth;
                this.player_height = 2 * Math.round(this.player_width * (9/16)/2);
                this.$refs.playerWrapper.style.height = this.player_height;

        alert(1)

                new Clappr.Player({
                    //plugins: [ClapprPip.PipButton, ClapprPip.PipPlugin],
                    source: this.player_service.getUrlStream(this.media.stream_id, this.media.type, this.media.extension),
                    poster: this.media.image,
                    width: this.player_width,
                    height: this.player_height,
                    parentId: "#player",
                    mimeType: 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
                });


            }
        },

    }
</script>