<template xmlns:v-lazy="http://www.w3.org/1999/xhtml">
    <section class="filmes">
        <div v-if="show_categories" class="categories-list">
            <h2>Filmes</h2>
            <ul class="list">
                <li v-for="item in categories">
                    <router-link :to="'/filmes/' + item.category_id ">{{ item.category_name }}</router-link>
                </li>
            </ul>
        </div>

        <div v-if="show_movies" class="listing">
            <router-link to="/filmes" class="back">
                <i class="icon-back"></i> <h2>{{ category.category_name }}</h2>
            </router-link>

            <div class="grid-list">
                <router-link :to="'/filme/' + item.stream_id"
                             class="movie-item"
                             v-for="item in movies">
                    <div class="cover" v-lazy:background-image="lazyImage(item.stream_icon)"></div>
                    <div class="info">
                        <h3>{{ item.name }}</h3>
                        <div class="info-inset">
                            <!--
                            <span>2015</span>
                            <span>2h 14min</span>
                            -->
                        </div>
                    </div>
                </router-link>
            </div>
        </div>

        <div  v-if="show_info" class="media-view">
            <div class="cover">
                <router-link v-if="category.category_id"  :to="'/filmes/' + category.category_id" class="back">
                    <i class="icon-back"></i> <h2>{{ category.category_name }}</h2>
                </router-link>
                <div class="image" v-lazy:background-image="lazyImage(movie.info.backdrop_path && movie.info.backdrop_path.length ? movie.info.backdrop_path[0] : movie.info.movie_image)"></div>
            </div>

            <div class="media-inset">
                <div class="cover-wrapper">
                    <div class="cover" v-lazy:background-image="lazyImage(movie.info.movie_image)"></div>
                    <div class="play-wrapper">
                        <router-link :to="'/assistir/filme/' + movie.movie_data.stream_id + '.' + movie.movie_data.container_extension">
                            Assistir <img src="~../assets/images/play-large.svg" alt="">
                        </router-link>
                    </div>
                </div>
                <div class="media-info">
                    <div class="studio"><img src="images/studio.png" alt=""></div>
                    <h1>{{ movie.movie_data.name }}</h1>
                    <div class="media-additionals">
                        <span class="year">{{ movie.info.release | isoDateFormat('Y') }}</span>
                        <span class="rate" :title="rating">
                            <img v-for="i in rating" src="~../assets/images/star-fill.svg" alt="">
                            <img v-for="i in 5 - rating" src="~../assets/images/star.svg" alt="">
							</span>
                        <span class="pg"><img src="images/pg.png" alt=""></span>
                    </div>

                    <div class="description">
                        <p>{{ movie.info.plot }}</p>


                        <!--
                        <div class="tags">
                            <span>Full HD</span>
                            <span>Dolby 7.1</span>
                        </div>
                        -->

                        <hr>

                        <div class="specs">
                            <div class="box">
                                <strong>Diretor</strong>
                                <p>{{ movie.info.director }}</p>
                            </div>
                            <div class="box">
                                <strong>Elenco</strong>
                                <p>{{ movie.info.cast }}</p>
                            </div>

                            <!--
                            <div class="double">
                                <div class="box">
                                    <strong>Legendas</strong>
                                    <p>Portugues, Ingles, Espanhol</p>
                                </div>
                                <div class="box">
                                    <strong>Audio</strong>
                                    <p>Portugues, Ingles, Espanhol</p>
                                </div>
                            </div>
                            -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import Media from './Media'
    import MovieService from '../services/MovieService'

    const moviesService = new MovieService();

    export default {
        name: 'Movies',
        props: ['category_id', 'movie_id', 'keywords'],
        components: {
            Media
        },
        data() {
            return {
                show_categories: false,
                show_info: false,
                show_movies: false,
                movie_service: moviesService
            }
        },
        computed: {
            categories: function() {
                return this.movie_service.categories.filter(d => d.category_name.toLowerCase().includes(this.keywords.toLowerCase()))
            },
            movies: function () {
                return this.movie_service.movies.filter(d => d.name.toLowerCase().includes(this.keywords.toLowerCase()));
            },
            category: function () {
                return this.movie_service.category;
            },
            movie: function () {
                return this.movie_service.movie;
            },
            rating: function () {
                return Math.ceil(this.movie.info.rating.valueOf() * 5 / 10)
            }
        },
        async mounted() {
            await this.movie_service.getCategories();
            this.show_categories = true;

            if(this.category_id !== undefined){
                this.loadMovies(this.category_id);
            }

            if(this.movie_id !== undefined){
                this.getMovieInfo(this.movie_id);
            }
        },
        destroyed() {
            this.$emit('clearSearch')
        },
        watch: {
            '$route.params.category_id' (category_id) {
                if(category_id === undefined){
                    this.show_categories = true;
                    this.show_movies = false;
                    this.show_info = false;
                    return;
                }
                this.loadMovies(category_id);
            },
            '$route.params.movie_id' (movie_id) {
                if(movie_id === undefined){
                    this.show_categories = true;
                    this.show_movies = false;
                    this.show_info = false;
                    return;
                }
                this.getMovieInfo(movie_id);
            },
        },
        methods: {
            loadMovies: async function(category_id) {
                await this.movie_service.getMoviesByCategory(category_id);
                this.show_movies = true;
                this.show_categories = false;
            },
            getMovieInfo: async function(movie_id){
                this.show_categories = false;
                this.show_movies = false;
                await this.movie_service.getMovieInfo(movie_id);
                this.show_info = true;
            },
            lazyImage: function (src) {
                return MovieService.lazyImage(src)
            }


        }

    }
</script>
