<template>
    <div ref="playerWrapper" id="player-wrapper">
        <div id="player"></div>
    </div>
</template>

<script>
    import Clappr from 'clappr'
    import ClapprPip from 'clappr-pip'
    import PlayerService from '../services/PlayerService'

    export default {
        name: 'Media',
        props: ['type', 'stream_id'],
        mounted() {
            alert(1)
            this.playerSevice =  new PlayerService();

            this.player_width = this.$refs.playerWrapper.clientWidth;
            this.player_height = 2 * Math.round(this.player_width * (9/16)/2);
            this.$refs.playerWrapper.style.height = this.player_height;

            new Clappr.Player({
                //plugins: [ClapprPip.PipButton, ClapprPip.PipPlugin],
                source: this.playerSevice.getUrlStream(this.stream_id, this.type),
                width: this.player_width,
                height: this.player_height,
                parentId: "#player",
                //mimeType: "video/mp4"
            });

        }
    }
</script>