<template>
    <section class="series">
        <div v-if="show_series" class="categories-list">
            <h2>Séries</h2>
            <ul class="list">
                <li v-for="item in series">
                    <router-link :to="'/serie/' + item.series_id">{{ item.name }}</router-link>
                </li>
            </ul>
        </div>

        <div v-if="show_seasons"  class="categories-list">

            <h2>{{ serie.name }}</h2>

            <select v-model="selected_season">
                <option v-for="item in seasons" :value="item.season_number">
                    {{ item.name}}
                </option>
            </select>

            <div class="cover-wrapper">
                <div class="cover" v-lazy:background-image="lazyImage(season.cover || serie.cover)"></div>
            </div>
            <br>
            <p>{{ season.overview || serie.plot }}</p>
        </div>

        <div v-if="show_episodes" class="categories-list">

            <a v-on:click.prevent="showSeasons" href="#" class="back">
                <i v-if="!show_seasons" class="icon-back"></i>
                <h2>{{ season.name }}</h2>
            </a>

            <ul class="list">
                <li v-if="season" v-for="item in episodes">
                    <router-link :to="'/serie/' + serie_id + '/' + season.season_number + '/' + item.id">
                        {{ item.title }}
                    </router-link>
                </li>
            </ul>
        </div>

        <div v-if="show_info" class="media-view">

            <span  class="back">
                <h2>{{ episode.title }}
                    <span v-if="episode.info"> - {{ episode.info.o_name }}</span>
                </h2>
            </span>


            <Media v-bind:media="series_service.getMedia()"/>
        </div>

    </section>
</template>

<script>
    import Media from './Media'
    import SerieService from '../services/SerieService'

    const seriesService = new SerieService();

    export default {
        name: 'Series',
        props: ['serie_id', 'episode_id', 'season_id' , 'keywords'],
        components: {
            Media
        },
        data() {
            return {
                show_series: true,
                show_info: false,
                show_episodes: false,
                show_seasons: false,
                series_service: seriesService,
                selected_season: 1
            }
        },
        computed: {
            series: function() {
                return this.series_service.series.filter(d => d.name.toLowerCase().includes(this.keywords.toLowerCase()))
            },
            seasons: function () {
                return this.series_service.seasons//.filter(d => d.title.toLowerCase().includes(this.keywords.toLowerCase()));
            },
            episodes: function () {
                return this.series_service.episodes[this.selected_season];
            },
            serie: function() {
                return this.series_service.serie;
            },
            season: function() {

                return this.series_service.seasons.find(d => d.season_number.toString() === this.selected_season.toString() );
            },
            episode: function() {
                return this.series_service.episode;
            }
        },
        async mounted() {
            await this.series_service.getSeries();

            if(this.season_id !== undefined) {
                this.selected_season = this.season_id;
            }

            if(this.serie_id !== undefined){
                await this.loadSerie(this.serie_id);
            }

            if(this.episode_id !== undefined && this.season_id !== undefined){
                await this.getEpisodeInfo(this.episode_id, this.season_id);
                return;
            }
        },
        watch: {
            '$route.params.serie_id'(serie_id) {
                if (serie_id === undefined) {
                    this.show_series = true;
                    this.show_episodes = false;
                    this.show_seasons = false;
                    this.show_info = false;
                    return;
                }
                this.loadSerie(serie_id);
            },
            '$route.params.episode_id'(episode_id) {
                if(this.serie_id === undefined) {
                    this.show_series = true;
                    return;
                }
                if (episode_id === undefined) {
                    this.show_episodes = true;
                    this.show_seasons = true;
                    this.show_info = false;
                    return;
                }
                this.getEpisodeInfo(episode_id, this.season_id);
            }
        },
        destroyed() {
            this.$emit('clearSearch')
        },
        methods: {
            loadSerie: async function(serie_id) {
                this.show_series = false;
                await this.series_service.getSerieInfo(serie_id);
                this.show_episodes = true;
                this.show_seasons = true;
            },
            getEpisodeInfo: async function(episode_id, season_id){
                this.show_info = false;
                this.show_seasons = false;
                this.show_episodes = true;
                await this.series_service.getEpisodeInfo(episode_id, season_id);
                this.show_info = true;
            },
            showSeasons: function(){
                this.show_seasons = true;
                this.show_info = false;
            },
            lazyImage: function (src) {
                return SerieService.lazyImage(src)
            }

        }
    }
</script>
