<template>
    <div class="settings">
        <form>
            <h1>Configurações</h1>
            <input type="text" required v-model="username" disabled/>
            <input type="text" required v-model="expiration" disabled/>
        </form>
    </div>
</template>

<script>
    import UserService from '../services/UserService';
    const userService =  new UserService();
    import moment from 'moment'

    export default {
        name: 'Settings',
        data () {
            return {
                errors: {},
                user_service: userService,
            }
        },
        computed: {
            username: function(){
                return this.user_service.username;
            },
            expiration: function(){
                return moment.unix(this.user_service.expiration).format("DD/MM/YY");
            },
        }

    }
</script>
