<template>
    <section class="programacao">

        <div v-if="show_categories" class="categories-list">
            <h2>Televisão</h2>
            <ul class="list">
                <li v-for="item in categories">
                    <router-link :to="'/televisao/' + item.category_id ">{{ item.category_name }}</router-link>
                </li>
            </ul>
        </div>

        <div v-if="show_channels" class="networks-list">

            <i class="icon-back" v-show="!show_categories" v-on:click="loadCategories(true)"></i>  <h2>{{ category.category_name }}</h2>
            <div class="list">
                <router-link :to="'/televisao/' + category.category_id + '/' + item.stream_id"
                             v-for="item in channels" class="item">
                    <h3>{{ item.num }}</h3>
                    <div class="logo">
                        <img :src="item.stream_icon" alt="">
                    </div>
                    <div class="current">
                        <strong>AGORA</strong>
                        <span>{{ now }}</span>
                    </div>
                    <div class="current-show">
                        <strong>{{ item.name }}</strong>
                        <span> - </span>
                    </div>
                </router-link>
            </div>
        </div>

        <div v-if="show_info" class="media-view">

            <h2>{{ category.name }}</h2>

            <div class="media-inset">

                <div ref="playerWrapper" id="player-wrapper">
                    <div id="player"></div>
                </div>

                <div class="listing">
                    <div class="list">
                        <div v-for="(item, index) in schedule" :class="{ 'item': true, 'active': index === 0 }">

                            <router-link v-if="index === 0" :to="'/assistir/televisao/' + channel.stream_id + '.m3u8'">
                                <div class="onair"></div>
                                <span class="time">{{ item.start | isoDateToHour }}</span>
                                <div class="info">
                                    <h3>{{ item.title | base64decode  }}</h3>
                                    <p>{{ item.description | base64decode  }}</p>
                                </div>
                            </router-link>
                            <div v-else>
                                <div class="onair"></div>
                                <span class="time">{{ item.start | isoDateToHour }}</span>
                                <div class="info">
                                    <h3>{{ item.title | base64decode  }}</h3>
                                    <p>{{ item.description | base64decode  }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</template>

<script>
    import TelevisionService from '../services/TelevisionService'
    import moment from 'moment'
    import Clappr from 'clappr'
    import PlayerService from '../services/PlayerService'

    const televisionService = new TelevisionService();
    const playerSevice =  new PlayerService();

    export default {
        name: 'Television',
        props: ['category_id', 'channel_id', 'keywords'],
        data() {
            return {
                show_categories: false,
                show_channels: false,
                show_info: false,
                now: moment().format('H:mm'),
                television_service: televisionService,
                player_service: playerSevice
            }
        },
        computed: {
            categories: function() {
                return this.television_service.categories.filter(d => d.category_name.toLowerCase().includes(this.keywords.toLowerCase()))
            },
            channels: function () {
                return this.television_service.channels.filter(d => d.name.toLowerCase().includes(this.keywords.toLowerCase()));
            },
            category: function () {
                return this.television_service.category;
            },
            schedule: function () {
                return this.television_service.schedule;
            },
            channel: function () {
                return this.television_service.channel;
            }
        },
        async mounted() {
            await this.loadCategories();

            if(this.channel_id !== undefined){
                await this.getChannelInfo(this.channel_id);
                this.loadPlayer();
            }
            if(this.category_id !== undefined){
                this.loadChannels(this.category_id);
                return;
            }
            this.show_categories = true;
        },
        watch: {
            '$route.params.category_id'(category_id) {
                if (category_id === undefined) {
                    this.show_categories = true;
                    this.show_channels = false;
                    this.show_info = false;
                    return;
                }
                this.loadChannels(category_id)
            },
            '$route.params.channel_id' (channel_id) {
                if(channel_id === undefined){
                    this.show_categories = true;
                    this.show_channels = false;
                    this.show_info = false;
                    return;
                }
                this.getChannelInfo(channel_id).then(() => {
                    this.loadPlayer();
                });
            },
        },
        destroyed() {
            this.$emit('clearSearch')
        },
        methods: {
            loadCategories: async function(visible){
                await this.television_service.getCategories();
                this.show_channels = false;
                this.show_categories = visible;
            },
            loadChannels: async function(category_id) {
                await this.television_service.getChannelsByCategory(category_id);
                this.show_channels = true;
                this.show_categories = false;
            },
            getChannelInfo: async function(channel_id){
                this.show_channels = true;
                this.show_categories = false;
                this.show_info = false;
                await this.television_service.getChannelInfo(channel_id);
                this.show_info = true;
            },
            loadPlayer: function(){

                this.television_service.pushToHistory({
                    type: 'live',
                    stream_id: this.channel.stream_id,
                    name: this.channel.name,
                    extension: '.m3u8'
                });

                this.player_width = this.$refs.playerWrapper.clientWidth;
                this.player_height = 2 * Math.round(this.player_width * (9/16)/2);
                this.$refs.playerWrapper.style.height = this.player_height;

                new Clappr.Player({
                    source: this.player_service.getUrlStream(this.channel.stream_id, 'live', '.m3u8'),
                    width: this.player_width,
                    height: this.player_height,
                    parentId: "#player",
                    mimeType: "video/mp4"
                });
            }
        }
    }
</script>
