<template>
    <main v-if="isLogged">
        <aside v-bind:class="{ collapsed: menu_collapsed }">
            <router-link to='/'>
                <div class="logo"><span></span></div>
            </router-link>
            <nav>
                <router-link to='/filmes'><i class="icon-filmes"></i><span>Filmes</span></router-link>
                <router-link to='/series'><i class="icon-series"></i><span>Séries</span></router-link>
                <router-link to='/televisao'><i class="icon-televisao"></i><span>Televisão</span></router-link>
                <router-link to='/settings'><i class="icon-configuracoes"></i><span>Configurar</span></router-link>
            </nav>
        </aside>

        <section class="main-view">
            <header v-if="show_header">
                <div class="search">
                    <i class="icon-search"></i>
                    <input type="text" v-model="keywords" placeholder="Buscar...">
                </div>
                <div class="current-time">
                    <span>{{ clock }}</span>
                </div>
                <div class="user-data">
                    <div class="user-info">
                        <h3>{{ username }}</h3>
                        <span class="exp-date">Exp. {{ expiration }}</span>
                    </div>
                    <a href="#" v-on:click.prevent="logout" class="logout">Sair</a>
                </div>
            </header>

            <div class="inset-view">
                <router-view v-bind:keywords="keywords" v-on:clearSearch="clearSearch" />
            </div>
        </section>

    </main>

    <router-view v-else/>

</template>


<style lang="scss">
    @import "assets/scss/base.scss";
</style>

<script>

    import moment from 'moment'
    import UserService from './services/UserService'

    const userService = new UserService();

    export default {
        name: 'app',
        computed: {
            isLogged: function() {
                if(this.$route.path === '/login'){
                    return false;
                }
                return this.user_service.isLogged();
            },
            username: function(){
                return this.user_service.username;
            },
            expiration: function(){
                return moment.unix(this.user_service.expiration).format("DD/MM/YY");
            },
            menu_collapsed: function() {
                return this.$route.path !== '/';
            },
            show_header: function () {
                return !this.$route.path.includes('/assistir/');
            }
        },
        updated() {
            if(!this.isLogged && !this.$route.path.startsWith("/login")){
                return this.$router.replace('/login');
            }
        },
        beforeMount() {
            if(!this.isLogged && !this.$route.path.startsWith("/login")){
                return this.$router.replace('/login');
            }
            window.setInterval(() => {
                this.clock = moment().format('HH:mm');
            },1000);
        },
        data() {
            return {
                user_service: userService,
                keywords: '',
                isActive: '',
                clock: moment().format('HH:mm')
            }
        },
        methods: {
            logout: function () {
                localStorage.removeItem('username');
                localStorage.removeItem('password');
                this.$router.replace('/login')
            },
            clearSearch: function () {
                this.keywords = '';
            }

        }
    }
</script>
